<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1>Gestor de Clientes</h1>
      </div>
      <div class="row">
        <button on-click ="obtenerClientes" type="button" name="button" class="btn btn-success">Obtener Clientes</button>
      </div>
      <div class="row">
        <table class="table table-reflow">
          <tbody>
            <template is="dom-repeat" items="{{clientes}}">
              <tr>
                <td>
                  [[item.CustomerID]]
                </td>
                <td>
                  [[item.ContactName]]
                </td>
                <td>
                  [[item.CompanyName]]
                </td>
                <td>
                  [[item.Country]]
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </template>  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes(){
        var url ="https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
        var request = new XMLHttpRequest();

        request.open("GET", url, false);
        request.setRequestHeader("Accept" , "application/json");
        request.send();

        this.clientes = JSON.parse(request.responseText).value;
        console.table(this.clientes);
        }
      }

      window.customElements.define(GestorClientes.is, GestorClientes);
    </script>
  </dom-module>
